%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  =link_to t('home'),root_path,class:"dropdown-item"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = t('resources.babies')
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          =link_to t('accions.index'), babies_path,class:"dropdown-item"
          =link_to t('accions.new'),new_baby_path,class:"dropdown-item"
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = t('resources.assistants')
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          =link_to t('accions.index'), assistants_path,class:"dropdown-item"
          =link_to t('accions.new'), new_assistant_path,class:"dropdown-item"
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = t('resources.activities')
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          =link_to t('accions.index'), activities_path,class:"dropdown-item"
          =link_to t('accions.new'),new_activity_path,class:"dropdown-item"
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = t('resources.activity_logs')
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          =link_to t('accions.index'), activity_logs_path,class:"dropdown-item"
          =link_to t('accions.new'),new_activity_log_path,class:"dropdown-item"