.card
  .card-body
    %h1.card-title= t('home')
    %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eveniet voluptatum fuga debitis recusandae asperiores laudantium molestias magni sequi, suscipit a quos dicta, aspernatur dignissimos nihil explicabo enim unde quia.
    %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eveniet voluptatum fuga debitis recusandae asperiores laudantium molestias magni sequi, suscipit a quos dicta, aspernatur dignissimos nihil explicabo enim unde quia.
    %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eveniet voluptatum fuga debitis recusandae asperiores laudantium molestias magni sequi, suscipit a quos dicta, aspernatur dignissimos nihil explicabo enim unde quia.
    %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eveniet voluptatum fuga debitis recusandae asperiores laudantium molestias magni sequi, suscipit a quos dicta, aspernatur dignissimos nihil explicabo enim unde quia.
