.card
  .card-body
    %h1.card-title=t('accions.listing',{name:t('resources.activities')}) 

    %table.table
      %thead
        %tr
          %th=t('labels.name')
          %th=t('labels.description')
          %th
          %th

      %tbody
        - @activities.each do |activity|
          %tr
            %td= activity.name
            %td= activity.description
            %td= link_to t("accions.show"), activity
            %td= link_to t("accions.edit"), edit_activity_path(activity)
